<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="{{ url_for('comic.list_') }}">SuperComic</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" href="{{ url_for('comic.list_') }}">主页 <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
                   aria-haspopup="true" aria-expanded="false">
                    用户中心
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    {% if session['user_id'] %}
                        <a class="dropdown-item" href="{{ url_for('comic.history') }}">阅读历史</a>
                    {% endif %}
                    <a class="dropdown-item" href="#">我的收藏</a>
                    <a class="dropdown-item" href="#">我的权限</a>
                    <div class="dropdown-divider"></div>
                    {% if session['user_id'] %}
                        <a class="dropdown-item" href="{{ url_for('auth.logout') }}">下线啦~</a>
                    {% else %}
                        <a class="dropdown-item" href="#">2333~</a>
                    {% endif %}
                </div>
            </li>
            <li class="nav-item">
                <a class="nav-link disable" href="{{ url_for('comic.tasks') }}">任务队列</a>
            </li>
        </ul>
        <form class="form-inline my-2 my-lg-0" action="{{ url_for('comic.search') }}" method="get">
            <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search" name="key">
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
        </form>
    </div>
</nav>